h5 {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.card {
    padding: 10%;
    border: solid 5px;
    border-color: black;
    background-image: linear-gradient(white, grey);
    width: 280px;
    height: 500px;

}

body {
    background-color: rgb(11, 71, 73);
}

header {
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding-top: 5%;
}
